
@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');


body,h1,h2,h3,a,p{
  font-family: "Droid Arabic Kufi",'Droid Arabic Naskh',"tahoma" !important ;
  letter-spacing: normal !important;
}	


/********* get-ad ***************/
.get-content{
	flex-direction: row-reverse;
}
.get-content .caption{
	margin-left: 0;
	margin-right: 2.5rem
}
.caption .get-link:before{
	right: -15px;
	left: auto;
	transform: rotateY(-180deg);
}
 @media only screen  and (max-width: 767px) {

    .get-content .caption{
        margin-right: 1.75rem;
        margin-left: 0;
    }
}
@media only screen  and (max-width: 360px) {

	.get-content .caption{
		margin-right: 0.5rem;
		margin-left: 0
	}

}        
/********* get-ad ***************/

/*wrap*/
.navigation .navbar,
#hero-bg.top,
.dark-footer,
.adv-overflow{
	direction: rtl;
}
 .background .top-nav ul li{
 	text-align: center;
 	justify-content: center;
 }
.hero-content li{
	padding-right: 0;
	padding-left: 20px;
}
.hero-content .link img{
	margin-left: 0;
	margin-right: 7px;
}
.here-side-img img{
	transform: rotateY(-180deg);
}
.adv-overflow .chosen{
	margin-right: 0;
	margin-left: 2%;
}
.adv-overflow .title{
	margin-right: 0;
	margin-left: 6px;
}
.statics ul li label{
    padding-left: 12px;
    padding-right: 0;
    text-align: right;
}
#videoModal .modal-header{
	right: 0;
    left: 10px;
}
.adv-overflow .title,
.statics fieldset legend{
	font-size: 15px;
}
.statics ul li{
	font-size: 14px;
}
.navigation .navbar-light .navbar-toggler{
	margin-left: 0;
	padding-right: 12px;
    padding-left: 0;
}
.hamburger-inner:before{
	left: 8px;
}
.hamburger-inner:after{
	right: 3px;
}
.hamburger.is-active .hamburger-inner:after{
	right: 0
}
@media only screen and (max-width: 991px){
	.navigation .navbar{
		direction: ltr;
		flex-direction: row-reverse;
	}
	
}
@media only screen and (max-width: 767px){
	.here-side-img {text-align: right;}
}
@media only screen and (max-width: 480px){

	.hero-content li{
		padding-left: 10px;
		padding-right: 0;
	}
}


